body
{
	margin: 0px;
	background-color: #E8EBE4;
}


.wrapper
{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: minmax(3vh, 3.5vh);
}

.listItem
{
	background-color: #D2D5DD;
	text-align: center;
	font-size: x-large;

	grid-row: 1;
}

.listItem:hover
{
	background-color: #B8BACF;
}

.clickedBox
{
	background-color: #B8BACF;
}


#Photo
{
	grid-column: 1;
	grid-row: 1 / 3;
}


#Portfolio
{
//	text-align: center;
}

.portfolioParagraphs
{
	border-right-style: solid;
	border-left-style: solid;
	border-width: thin;

	margin-left: .5vw;
	margin-right: .5vw;

	padding-left: .5vw;
	padding-right: .5vw;
}

#Contact
{
//	text-align: right; 
}

#aboutParagraph
{
	text-align: left;
	padding-left: .5vw;
}


img
{

	height: auto;
	width: 100%;
	max-width: 25vw;

}


.paused
{

	-webkit-animation-play-state:paused;
	-moz-animation-play-state:paused;
	-o-animation-play-state:paused; 
	animation-play-state:paused;

	visibility: hidden;
	

}


.slideIn
{

	animation-duration: .5s;
	animation-name: slideIn;

}

@keyframes slideIn
{

	from
	{
		
		opacity: 0;

	}

	to
	{
		
		opacity: 1;

	}

}


